.infoTemplate{
  border: 1px solid black;
  background-color: antiquewhite;
  margin: 25px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
.infoImage{
  margin-right: 10px;
  width: 100px;
  border-radius: 10%;
  object-fit: cover;
}
.title{
  font-weight: bold;
  font-size: 20px;
}
.header{
  text-align: center; background-color: lightblue; padding: 30px; margin: 0; width: 100%
}
.header:hover{
  background-color: darkblue;
  color: white;
}